@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* border: 1px solid black; */
}

:root{
    --dark-gray: #242424;
    --medium-gray: #333333;
    --light-gray: #464646;
    --pink: #C61067;
}

body{
    padding: 0 100px;
    background-color: var(--dark-gray);
}

header{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
header .busca{
    width: 500px;
    position: relative;
    margin-left: 26px;
}
header .busca input{
    width: 100%;
    height: 46px;
    background-color: var(--medium-gray);
    padding-left: 16px;
    border-radius: 5px;
    border: 2px solid var(--light-gray);
    transition-duration: 300ms;
}
header .busca input:focus{
    border-color: var(--pink);
}
header .busca box-icon{
    position: absolute;
    right: 16px;
    top: 12px;
    fill: var(--light-gray);
    cursor: pointer;
}
header .busca box-icon:hover{
    fill: var(--pink);
}

.container{
    margin-top: 65px;
}

#teams h2{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#teams h2 button{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid var(--pink);
    border-radius: 5px;
    line-height: 40px;
    padding: 0 16px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    transition-duration: 300ms;
    cursor: pointer;
}
#teams h2 button:hover{
    background-color: var(--pink);
}
#teams h2 box-icon{
    fill: white;
    position: relative;
    top: -2px;
}
#teams ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 20px;
}
#teams ul li{
    width: calc(20% - 13px);
    background-color: var(--medium-gray);
    padding: 16px;
    border-radius: 10px;
}
#teams ul li h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    fill: white;
}
#teams ul li h1{
    width: 100px;
    height: 100px;
    background-color: var(--light-gray);
    font-size: 50px;
    margin: 26px auto;
    border-radius: 100%;
    font-weight: lighter;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#teams ul li h1 span{
    display: block;
    font-size: 16px;
    font-weight: bold;
}



