@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --dark-gray: #242424;
    --mediun-gray: #333333;
    --light-gray: #464646;
    --pink: #C61067;
}

